@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400;1,700&display=swap');

.buttona {
    background-color: #274939;
    color: white;
    border: none;
    height: 40px;
    width: 100px;
    transition: all 0.3s;
}

.buttona:hover {
    background-color: white;
    color: #274939;
    border: solid 1px #274939;
    height: 40px;
    width: 100px;
    cursor: pointer;
}


