@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400;1,700&display=swap');


#root {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.greeting {
  color: #274939;
}

.navbar {
  background-color: #274939; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 85px;
  padding: 5px 10%;
}

.icon {
  height: 70px;
  width: auto;
}

.navbar .icon {
  cursor: pointer;
  transition: all 0.3s;
}

.navbar .icon:hover {
  transform: scale(1.1);
}

.navbar .listaNavBar {
  list-style: none;
}

.navbar .listaNavBar li {
  display: inline-block;
  padding: 0 20px;
}

.navbar .listaNavBar a {
  text-decoration: none;
  font-size: 20px;
  color: #eceff1;
}

.navbar .listaNavBar li a:hover {
  color: #fefefe; 
}  

.cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart h4 {
  background-color: #ccc;
  border-radius: 5px;
  margin-left: 10px;
  width: 20px;
  color: black;
}

.drop-down {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: #27493988;
  margin-top: 0;
  padding-top: 8px;
  padding-bottom: 8px ;
}


.drop-down img {
  max-height: 100px;
  max-width: 100px;
  filter: grayscale(85%);
  transition: all 0.3s;
}

.drop-down img:hover {
  filter: grayscale(0%);
  cursor: pointer;  
}

.nav-link.active img {
  filter: grayscale(0%);
}