@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,400;1,700&display=swap');

#root {
  font-family: 'Nunito', sans-serif;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.navbar {
  background-color: #333; /* Color de fondo del navbar */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 85px;
  padding: 5px 10%;
}

.icon {
  height: 70px;
  width: auto;
}

.navbar .icon {
  cursor: pointer;
  transition: all 0.3s;
}

.navbar .icon:hover {
  transform: scale(1.2);
}

.navbar .listaNavBar {
  list-style: none;
}

.navbar .listaNavBar li {
  display: inline-block;
  padding: 0 20px;
}

.navbar .listaNavBar li:hover {
  transform: scale(1.1);
}

.navbar .listaNavBar a {
  text-decoration: none;
  font-size: 20px;
  color: #eceff1;
}

.navbar .listaNavBar li a:hover {
  color: #274939;
}

.product-container {
  position: relative; /* Añade posición relativa solo al contenedor de producto */
  background-color: #fefefe;
  width: 15vw;
  min-height: 350px;
  max-height: 400px;
  margin: 10px;
  border: solid 4px #274939;
  border-radius: 5px;  
}

.foot-product {
  position: absolute; /* Posición absoluta para el pie de página */
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #274939;
  color: #fefefe;
}

.foot-product button {
  height: auto;
  background-color: #274939;
  color: #fefefe;
  border: none;
  font-family: 'Nunito', sans-serif;
  transition: all 0.3s;
  border: solid 1px #fefefe;
}


.foot-product button:hover {
  background-color: #fefefe;
  color: #274939;
  cursor: pointer;
  border: solid 1px #fefefe;
}

.product-container h4 {
  margin-top: 0;
  display: block;
  background-color: #274939;
  width: 100%;
  color: #fefefe;
}